@import "mixin";

.footer {
  background-color: var(--third-color);
  padding: 50px var(--header-grid-padding) 35px var(--header-grid-padding);
  color: var(--solid-light);
  display: block;

  @media screen and (max-width: 480px) {
    padding: 35px var(--header-grid-padding);
  }
}

.footer-top {
  display: flex;
  justify-content: space-between;

  @media screen and (max-width: 480px) {
    flex-wrap: wrap;
  }
}

.footer-top-right {
  text-align: right;
  width: 290px;
  display: flex;
  flex-direction: column;

  @media screen and (max-width: 480px) {
    width: 100%;
    text-align: center;
  }
}

.footer-top-right-title {
  display: flex;
  align-items: center;
  font-size: var(--big-font);
  font-weight: bold;

  @media screen and (max-width: 480px) {
    justify-content: center;
    flex-wrap: wrap;
  }
}

.footer-top-right-title-text {
  @media screen and (max-width: 480px) {
    width: 100%;
  }
}

.footer-top-right-title-svg {
  min-width: 50px;
  width: 50px;
  height: 50px;
  margin-left: 5%;
  margin-right: calc(-5% - 50px);

  @media screen and (max-width: 1200px) {
    display: none;
  }

  @media screen and (max-width: 480px) {
    display: block;
    margin: 0 0 25px 0;
  }
}

.footer-top-right-desc {
  font-size: var(--title-font);
  line-height: var(--first-line-height);
  margin-top: 20px;
}

.footer-top-right-social {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-top: auto;

  &.mobile {
    display: none;
  }

  @media screen and (max-width: 480px) {
    display: none;

    &.mobile {
      justify-content: space-between;
      display: flex;
    }
  }
}

.footer-top-right-social-svg {
  width: 23px;
  height: 23px;
  margin-left: 20px;
}

.footer-top-left {
  width: 170px;
  text-align: right;
  display: flex;
  flex-direction: column;

  @media screen and (max-width: 480px) {
    width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 50px 0;
  }
}

.footer-top-left-item {
  display: block;
  font-size: var(--title-font);
  margin: 10px 0;

  &:first-child {
    margin-top: 0;
  }

  &:last-child {
    margin-bottom: 0;
  }

  @media screen and (max-width: 480px) {
    &:nth-child(odd) {
      width: 55%;
    }

    &:nth-child(even) {
      width: 45%;
    }
  }
}

.footer-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 30px;
  padding-top: 20px;
  border-top: 1px solid var(--solid-light);

  @media screen and (max-width: 480px) {
    flex-wrap: wrap;
    border-top: none;
  }
}

.footer-bottom-right {
  text-align: right;
  width: 290px;

  @media screen and (max-width: 480px) {
    order: 1;
    width: 100%;
    text-align: center;
  }
}

.footer-bottom-left {
  text-align: right;
  width: 170px;
  display: flex;
  align-items: center;

  @media screen and (max-width: 480px) {
    width: 100%;
    justify-content: center;
    border-bottom: 1px solid var(--solid-light);
    padding-bottom: 15px;
    margin-bottom: 15px;
  }
}

.footer-bottom-left-svg {
  width: 30px;
  height: 30px;
  margin-left: 15px;
}