@import "mixin";

.header {
  height: var(--header-height);
  padding: 0 var(--header-grid-padding);
  background-color: var(--second-background-color);
  z-index: var(--header-z-index);
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  transition: box-shadow ease 0.2s;

  &.down {
    box-shadow: var(--first-shadow);
  }
}

.header-right {
  display: inline-flex;
  align-items: center;
  height: 100%;
}

.header-right-logo {
  width: 55px;
  height: 55px;
  object-fit: contain;
  margin-left: 10px;

  @media screen and (max-width: 480px) {
    display: none;
  }
}

.header-right-btn {
  padding: 5px 10px;
  margin-left: 20px;
  border-radius: var(--first-radius);
  cursor: pointer;

  @media screen and (max-width: 480px) {
    display: none;
  }
}

.header-left {
  display: inline-flex;
  align-items: center;
  height: 100%;
}

.header-left-download {
  @include first-btn;
}

.header-hamburger {
  display: none;

  @media screen and (max-width: 480px) {
    display: block;
    width: 40px;
    margin-right: -8px;
  }
}

.header-hamburger-name {
  display: none;

  @media screen and (max-width: 480px) {
    display: block;
    font-size: var(--big-font);
    font-weight: bold;
    margin-right: 10px;
  }
}