@import "mixin";

.header {
  height: var(--header-height);
  padding-right: var(--header-grid-padding);
  padding-left: var(--header-grid-padding);
  z-index: var(--header-z-index);
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  text-align: center;
  transition: box-shadow ease 0.2s, height ease 0.05s;

  @media screen and (min-width: 480px) {
    &.down {
      box-shadow: var(--first-shadow);
    }
  }

  @media screen and (max-width: 480px) {
    &.down-mobile {
      box-shadow: var(--first-shadow);
    }
  }
}

.header-right {
  display: inline-flex;
  align-items: center;
  height: 100%;
}

.header-right-logo-cont {
  @media screen and (min-width: 480px) {
    position: relative;
    height: 50px !important;
    top: auto !important;
    left: auto !important;
    margin-left: 10px;
    margin-top: 0 !important;
  }

  @media screen and (max-width: 480px) {
    position: absolute;
  }
}

.header-right-logo {
  height: 100%;
  object-fit: contain;
  display: block;
  will-change: transform;
  transition: transform linear 0.05s;
}

.header-right-logo-test {
  position: absolute;
  text-align: center;
  left: 50%;
  top: 110%;
  opacity: 1;
  transform: translateX(-50%) scale(1);
  transform-origin: top;
  will-change: transform, opacity;

  @media screen and (min-width: 480px) {
    transition: transform ease 0.2s, opacity ease 0.2s;
    &.hide {
      opacity: 0;
      transform: translateX(-50%) scale(0);
    }
  }

  @media screen and (max-width: 480px) {
    transition: transform ease 0.2s, opacity ease 0.2s, top ease 0.2s;
    &.hide-mobile {
      top: 50%;
      opacity: 0;
      transform: translateX(-50%) scale(0);
    }
  }
}

.header-right-logo-test-text {
  padding: 5px 15px;
  border-radius: var(--first-radius);
  color: var(--solid-light);
  background-color: var(--second-color);
  white-space: nowrap;
}

.header-right-logo-test-triangle {
  display: block;
  margin: auto;
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 5px solid var(--second-color);
}

.header-right-btn {
  padding: 5px 10px;
  margin-left: 20px;
  border-radius: var(--first-radius);
  cursor: pointer;

  @media screen and (max-width: 480px) {
    display: none;
  }
}

.header-left {
  display: inline-flex;
  align-items: center;
  height: 100%;
}

.header-left-download {
  @include first-btn;
}

.header-hamburger {
  display: none;

  @media screen and (max-width: 480px) {
    display: block;
    width: 40px;
    margin-right: -8px;
  }
}

.header-hamburger-name {
  display: none;

  @media screen and (max-width: 480px) {
    display: block;
    font-size: var(--big-font);
    font-weight: bold;
    margin-right: 10px;
  }
}
