@import "mixin";

.home {
  width: 100%;
  overflow-x: hidden;
  overflow-y: visible;
}

.home-first-section {
  position: relative;
  display: flex;
  padding: calc(var(--header-height) + 50px) var(--desktop-grid-padding) 50px var(--desktop-grid-padding);
  align-items: center;
  justify-content: space-between;
  text-align: right;
  background-color: var(--second-background-color);

  @media screen and (max-width: 1000px) {
    padding: calc(var(--header-height) + 50px) var(--tablet-grid-padding) 50px var(--tablet-grid-padding);
  }

  @media screen and (max-width: 480px) {
    padding: calc(var(--header-height) + 5px) var(--mobile-grid-padding) 50px var(--mobile-grid-padding);
    flex-wrap: wrap;
  }
}

.home-first-wind {
  position: absolute;
  top: 10%;
  left: calc(var(--desktop-grid-padding) - 6vw);
  width: 4vw;

  @media screen and (max-width: 1000px) {
    top: 15%;
    left: calc(var(--tablet-grid-padding) - 6vw);
  }

  @media screen and (max-width: 480px) {
    width: 10vw;
    top: 48%
  }

  &.first {
    top: 25%;

    @media screen and (max-width: 1000px) {
      top: 30%;
    }

    @media screen and (max-width: 480px) {
      top: 55%
    }
  }
}

.home-first-dots {
  position: absolute;
  right: -35px;
  bottom: 30px;
  width: 170px;

  @media screen and (max-width: 1000px) {
    width: 90px;
    right: -40px;
    bottom: 150px;
  }
}

.home-header-cont {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  pointer-events: none;
  clip: rect(auto, auto, auto, auto);
}

.home-second-wind {
  position: absolute;
  top: 10%;
  left: calc(var(--desktop-grid-padding) - 6vw);
  width: 4vw;

  &.rotated {
    transform: rotate(-90deg);
  }

  &.center {
    @media screen and (min-width: 480px) {
      top: 2%;
      left: 40%;
    }
    @media screen and (max-width: 480px) {
      top: 10%;
    }
  }

  @media screen and (max-width: 1000px) {
    top: 15%;
    left: calc(var(--tablet-grid-padding) - 6vw);
  }

  @media screen and (max-width: 480px) {
    width: 10vw;
    top: 35%
  }
}

.home-second-wind-right {
  position: absolute;
  top: 9%;
  right: calc(var(--desktop-grid-padding) - 6vw);
  width: 4vw;

  @media screen and (max-width: 1000px) {
    top: 14%;
    right: calc(var(--tablet-grid-padding) - 6vw);
  }

  @media screen and (max-width: 480px) {
    width: 10vw;
    top: 10%
  }
}

.home-second-circle {
  position: absolute;
  left: 0;
  top: 0;
  width: 60%;

  @media screen and (max-width: 480px) {
    width: 150%;
    top: 50%;
    left: -50%;
  }
}

.home-second-dots {
  position: absolute;
  left: -15px;
  top: 47%;
  width: 15vw;

  @media screen and (max-width: 480px) {
    top: 28%;
    left: -10px;
    width: 20vw;
  }
}

.home-second-curve {
  position: absolute;
  right: 0;
  top: 20%;
  width: 30%;

  @media screen and (max-width: 480px) {
    width: 60%;
    top: 15%;
  }
}

.home-first-right {
  width: 330px;

  @media screen and (max-width: 480px) {
    width: 100%;
  }
}

.home-first-logo {
  display: none;

  @media screen and (max-width: 480px) {
    display: block;
    width: 25%;
    margin: 0 37.5% 15px 37.5%;
  }
}

.home-first-logo-type {
  width: 100%;

  @media screen and (max-width: 480px) {
    width: 72%;
    margin: 0 14%;
  }
}

.home-first-title {
  width: 100%;
  font-size: var(--very-big-font);
  text-align: right;
  color: var(--second-color);
  font-weight: bold;
  margin: 15px 0 30px 0;

  @media screen and (max-width: 480px) {
    font-size: var(--big-font);
    text-align: center;
    margin: 15px 0;
  }
}

.home-first-first-design {
  width: calc(100% - 440px - 10%);
  max-width: 500px;
  aspect-ratio: 1 / 1;

  @media screen and (max-width: 480px) {
    width: 72%;
    margin: 0 14%;
    order: 0;
  }
}

.home-first-desktop-section {
  display: block;

  @media screen and (max-width: 480px) {
    display: none;
  }
}

.home-first-mobile-section {
  display: none;

  @media screen and (max-width: 480px) {
    display: block;
    text-align: center;
    width: 100%;
  }
}

.home-first-desc {
  width: 120%;
  font-size: var(--title-font);
  line-height: var(--first-line-height);

  @media screen and (max-width: 480px) {
    width: 90%;
    text-align: center;
    margin: 0 5% 30px 10%;
  }
}

.home-first-download {
  display: inline-block;
  @include first-btn;
  margin-top: 30px;
  padding: 10px 25px;

  @media screen and (max-width: 480px) {
    width: 80%;
    padding: 15px 0;
    font-size: var(--big-font);
  }
}

.home-first-support {
  width: 100%;
  display: flex;
  align-items: center;
  margin-top: 20px;
  font-size: var(--very-small-font);

  &.mobile {
    justify-content: center;
    font-size: var(--small-font);
  }
}

.home-first-support-svg {
  width: 20px;
  margin-left: 8px;
}

.home-second-section {
  position: relative;
  display: flex;
  padding: 50px var(--desktop-grid-padding);
  align-items: center;
  justify-content: space-between;
  text-align: right;

  @media screen and (max-width: 1000px) {
    padding: 50px var(--tablet-grid-padding);
  }

  @media screen and (max-width: 480px) {
    padding: 50px var(--mobile-grid-padding);
    flex-wrap: wrap;
  }
}

.home-second-title {
  font-size: var(--very-big-font);
  text-align: right;
  font-weight: bold;

  @media screen and (max-width: 480px) {
    margin-top: 35px;
    text-align: center;
    font-size: var(--big-font);
  }

  @media screen and (max-width: 330px) {
    font-size: var(--title-font);
  }
}

.home-second-desc {
  font-size: var(--title-font);
  margin: 15px 0 30px 0;
  line-height: var(--first-line-height);
  @include justify;

  @media screen and (max-width: 480px) {
    text-align-last: center;
    width: 90%;
    margin: 15px 5% 30px 5%;
  }
}

.home-second-left {
  width: 440px;

  @media screen and (max-width: 480px) {
    width: 100%;
    text-align: center;
    order: 1;
  }
}

.home-second-more {
  color: var(--second-color);
  font-weight: bold;
  font-size: var(--title-font);
}

.home-third-content {
  display: flex;
  align-items: flex-start;
  font-size: var(--title-font);
  margin: 30px 0;

  &.first {
    margin-top: 45px;
  }

  @media screen and (max-width: 480px) {
    width: 80%;
    margin: 15px 10%;

    &.first {
      margin-top: 25px;
    }
  }
}

.home-third-content-svg {
  min-width: 25px;
  width: 25px;
  fill: var(--first-color);
  margin-left: 16px;
  margin-top: -10px;
  margin-right: -42px;

  @media screen and (max-width: 480px) {
    margin-left: 5px;
    margin-right: -20px;
  }
}

.home-download-app {
  position: relative;
  padding: 50px;
  margin: 250px var(--desktop-grid-padding) 50px var(--desktop-grid-padding);
  display: flex;
  align-items: flex-end;
  justify-content: space-between;

  @media screen and (max-width: 1000px) {
    padding: 30px;
    margin: 250px var(--tablet-grid-padding) 50px var(--tablet-grid-padding);
  }

  @media screen and (max-width: 480px) {
    margin: 100px var(--mobile-grid-padding) 50px var(--mobile-grid-padding);
    flex-wrap: wrap;
    padding: 0;
    background-color: var(--second-background-color);
  }
}

.home-download-app-bg {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;

  @media screen and (max-width: 480px) {
    display: none;
  }
}

.home-download-triangle {
  position: absolute;
  left: 5%;
  bottom: -65%;
  width: 15vw;

  @media screen and (max-width: 480px) {
    width: 45vw;
    bottom: -80%;
  }
}

.home-download-app-svg {
  width: 200px;
  min-width: 200px;
  margin-top: -200px;
  margin-left: 30px;
  margin-right: 25px;

  @media screen and (max-width: 1200px) {
    width: 200px;
    min-width: 200px;
    margin-top: -150px;
  }

  @media screen and (max-width: 480px) {
    display: block;
    margin: -70px auto 0 auto;
  }
}

.home-download-app-content {
  @media screen and (max-width: 480px) {
    width: 100%;
  }
}

.home-download-app-title {
  font-size: var(--very-big-font);
  text-align: left;
  font-weight: bold;
  width: 100%;

  @media screen and (max-width: 1200px) {
    font-size: var(--big-font);
  }

  @media screen and (max-width: 480px) {
    text-align: center;
    margin-top: 25px;
  }

  @media screen and (max-width: 330px) {
    font-size: var(--title-font);
  }
}

.home-download-app-desc {
  font-size: var(--very-big-font);
  text-align: left;
  width: 100%;
  margin: 30px 0;

  @media screen and (max-width: 1200px) {
    font-size: var(--big-font);
  }

  @media screen and (max-width: 1000px) {
    margin: 15px 0;
  }

  @media screen and (max-width: 480px) {
    text-align: center;
    font-weight: bold;
  }

  @media screen and (max-width: 330px) {
    font-size: var(--title-font);
  }
}

.home-download-app-store {
  display: flex;
  width: 100%;
  align-items: center;

  @media screen and (max-width: 480px) {
    flex-wrap: wrap;
  }
}

.home-download-app-store-svg {
  width: 200px;
  flex-grow: 1;
  margin-left: 15px;

  @media screen and (min-width: 480px) {
    &.last-child {
      margin-left: 0;
    }
  }

  img {
    display: block;
    width: 100%;
  }

  @media screen and (max-width: 1400px) {
    width: 150px;
  }

  @media screen and (max-width: 1200px) {
    width: 100px;
  }

  @media screen and (max-width: 480px) {
    width: 100%;
    margin: 12px 25px;
  }
}

.home-guide {
  position: relative;
  margin: 35vw 0;
  padding: 50px var(--desktop-grid-padding);
  background-color: var(--third-background-color);

  @media screen and (max-width: 1000px) {
    padding: 50px var(--tablet-grid-padding);
  }

  @media screen and (max-width: 480px) {
    margin: 200px 0 150px 0;
    padding: 50px var(--mobile-grid-padding);
  }
}

.home-guide-bg {
  position: absolute;
  top: -250px;
  left: 0;
  right: 0;
  width: 100%;

  @media screen and (max-width: 480px) {
    top: -100px;
  }
}

.home-guide-bg-down {
  position: absolute;
  bottom: -250px;
  left: 0;
  right: 0;
  width: 100%;

  @media screen and (max-width: 480px) {
    bottom: -100px;
  }
}

.home-guide-title {
  font-size: var(--very-big-font);
  font-weight: bold;
  position: relative;
  z-index: 1;
  margin-bottom: 30px;

  @media screen and (max-width: 480px) {
    font-size: var(--big-font);
  }
}

.home-guide-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  z-index: 1;

  @media screen and (max-width: 480px) {
    justify-content: center;
    flex-wrap: wrap;
  }
}

.home-guide-content-text {
  @media screen and (max-width: 480px) {
    order: 2;
  }
}

.home-guide-item {
  font-size: var(--big-font);
  text-align: right;
  margin-bottom: 30px;

  &.disable {
    color: var(--disable-color);

    @media screen and (max-width: 480px) {
      display: none;
    }
  }

  @media screen and (max-width: 480px) {
    text-align: center;
    margin-top: 25px;
    font-size: var(--title-font);
  }
}

.home-guide-item-title {
  font-size: var(--very-big-font);
  color: var(--first-color);
  font-weight: bold;
  margin-bottom: 8px;

  &.disable {
    color: var(--disable-color);
  }

  @media screen and (max-width: 480px) {
    font-size: var(--big-font);
  }
}

.home-guide-img {
  width: 250px;

  @media screen and (max-width: 480px) {
    width: 200px;
  }
}

.home-guide-dot-cont {
  @media screen and (max-width: 480px) {
    order: 1;
    margin-left: -40px;
    margin-right: 19px;
  }

  @media screen and (max-width: 330px) {
    order: 1;
    margin-left: -30px;
    margin-right: 10px;
  }
}

.home-guide-dot {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  margin: 25px 5px;
  background-color: var(--first-color);
  transition: opacity ease 0.2s;

  &.disable {
    opacity: 0.2;
  }

  @media screen and (max-width: 480px) {
    width: 8px;
    height: 8px;
  }
}

.home-questions {
  position: relative;
  padding: 50px var(--desktop-grid-padding);

  @media screen and (max-width: 1000px) {
    padding: 50px var(--tablet-grid-padding);
  }

  @media screen and (max-width: 480px) {
    padding: 50px var(--mobile-grid-padding);
  }
}

.home-questions-polygon {
  position: absolute;
  right: 10%;
  top: 20%;
  width: 15vw;

  @media screen and (max-width: 480px) {
    width: 35vw;
    top: -10%;
  }
}

.home-questions-title {
  font-size: var(--very-big-font);
  font-weight: bold;
  margin-bottom: 30px;
}

.home-questions-item-cont {
  max-width: 650px;
  margin: 25px auto;
}

.home-questions-item {
  display: flex;
  background-color: var(--background-color);
  text-align: right;
  align-items: center;
  justify-content: space-between;
  padding: 15px 25px;
  border: 1px solid var(--first-color);
  border-radius: var(--second-radius);
  font-size: var(--title-font);
  cursor: pointer;
  transition: border-radius ease 0.1s;

  &.open {
    border-radius: var(--second-radius) var(--second-radius) 0 0;
  }
}

.home-questions-item-svg {
  fill: var(--first-color);
  min-width: 30px;
  width: 30px;
  height: 30px;
  margin-left: -12px;
  transition: transform ease 0.2s;

  &.open {
    transform: rotate(45deg);
  }
}

.home-questions-answer {
  text-align: right;
  background-color: var(--second-background-color);
  overflow: hidden;
  transition: height ease 0.2s;
  border-radius: 0 0 var(--second-radius) var(--second-radius);
  line-height: var(--first-line-height);
}

.home-questions-answer-text {
  padding: 25px;
  @include justify;
}
