@mixin justify {
  text-align: justify;
  white-space: pre-line;
}

@mixin first-btn {
  padding: 8px 20px;
  background-color: var(--first-color);
  color: var(--solid-light);
  border-radius: var(--first-radius);
  cursor: pointer;
  box-shadow: var(--first-shadow);
  font-weight: bold;
}
