@mixin justify {
  text-align: justify;
  white-space: pre-line;
}

@mixin first-btn {
  padding: 8px 20px;
  background-color: var(--first-color);
  color: var(--solid-light);
  border-radius: var(--first-radius);
  cursor: pointer;
  box-shadow: var(--second-shadow);
  text-align: center;
  font-size: var(--title-font);

  @media screen and (min-width: 480px) {
    min-width: 100px;
    font-weight: bold;
  }
}
